@import "../../SCSS/index.scss";

.loader {
  margin-top: 50px !important;
}

.list-moviles {
  padding: 20px;

  &__pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}
