@import "../../SCSS/index.scss";

.crear {
  position: relative;
  background-color: $background-grey-dark;
  width: 500px;
  z-index: 1;
  padding: 50px 70px;
  border-radius: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;

  &__title {
    text-align: center;
    color: $font-light;
  }

  .movil-form {
    &__miniature {
      margin-bottom: 16px;

      > div {
        width: 100%;
        min-height: 120px;
        border: 2px dashed $primary;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
          opacity: 0.6;
          cursor: pointer;
        }
      }

      > .ui.image {
        width: 100%;
        min-height: 120px;
        margin: 0;
        border: 2px dashed $primary;
        padding: 5px;
        &:hover {
          opacity: 0.6;
          cursor: pointer;
        }
      }
    }
  }

  .ui.button.submit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px !important;
  }

  @media screen and (max-width: 992px) {
    width: 100%;
  }
}
